{% extends 'layouts/base' %}
{% block page_title %}
    Export form
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-sm-6">
            <h1>Please choose export options</h1>

            {% if errors.any() %}
                <div class="alert alert-danger">
                    {% for error in errors.all() %}
                        <div>{{ __(error) }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="{{ route('export.post') }}" method="POST">
                {{ csrf_field() }}
                <div class="form-group">
                    <input type="text"
                           name="email"
                           class="form-control"
                           placeholder="Specify email to send report to">
                </div>
                <div class="form-group">
                    <select name="format" class="form-control">
                        {% for format in formats %}
                            <option value="{{ format }}">{{ __('export.format.' ~ format) }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}