{% extends 'layouts/base' %}
{% block page_title %}
    Export successfull
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-sm-6">
            <h1>Oops ...</h1>
            <div class="alert alert-danger">
                Unexpected error occurred so we couldn't sent you a report
            </div>
        </div>
    </div>
{% endblock %}