{% extends 'layouts/base' %}
{% block page_title %}
    Export successfull
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-sm-6">
            <h1>Thank you</h1>
            <div class="alert alert-success">
                Your report was sent successfully to {{ email }}
            </div>
        </div>
    </div>
{% endblock %}