@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css);@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Regular.eot) format("eot"), url(../fonts/FiraSans-Regular.woff) format("woff"), url(../fonts/FiraSans-Regular.ttf) format("truetype"); }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.simple-enter-active, .simple-leave-active {
  opacity: 1; }

.simple-enter, .simple-leave-to {
  opacity: 0; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #31353a;
  font-family: FiraSans, sans-serif;
  font-size: 12px; }

.layout {
  max-width: 1378px;
  margin: 0 auto;
  width: 100%;
  height: 100%; }
  .layout .container {
    min-height: 100%;
    background-image: url(../img/mood.jpg);
    padding-bottom: 50px;
    display: flex;
    flex-direction: row; }
  .layout .footer {
    height: 50px;
    margin-top: -50px;
    background: #31353a;
    color: #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; }

.pivot {
  width: 30%; }

.main {
  display: flex;
  flex-direction: column;
  margin: 40px 0 20px 40px;
  flex-basis: 50%; }
  .main .header-container {
    margin-bottom: 30px; }
    .main .header-container .header {
      background: #e3e4e4;
      height: 80px;
      display: inline-flex;
      justify-content: center;
      align-items: start; }
      .main .header-container .header .logo {
        height: 60px;
        margin: 10px; }
  .main .offer-container {
    display: flex;
    flex-direction: column; }
    .main .offer-container .mobile-mood {
      display: none; }
    .main .offer-container .cta {
      font-size: 1.8rem;
      color: white;
      background-color: #f98732;
      border: none;
      padding: 10px;
      transition: all .1s ease-in-out;
      text-align: center;
      text-decoration: none; }
      .main .offer-container .cta:hover {
        -webkit-transform: scale(1.025);
                transform: scale(1.025);
        cursor: pointer; }
    .main .offer-container .caption {
      background-color: #31353a;
      padding: 15px; }
      .main .offer-container .caption h1 {
        font-size: 1.8rem;
        color: white;
        margin: 0;
        padding: 0; }
    .main .offer-container .offer {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: #f0f0f0; }
      .main .offer-container .offer .attributes {
        padding-left: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #c8c8c8; }
        .main .offer-container .offer .attributes li {
          color: #686f76;
          display: block;
          font-size: 1.2rem;
          margin-bottom: 10px; }
          .main .offer-container .offer .attributes li:before {
            content: "\E013";
            font-family: 'Glyphicons Halflings';
            float: left;
            margin-left: -20px; }
          .main .offer-container .offer .attributes li:last-child {
            margin-bottom: 0px; }
      .main .offer-container .offer .price-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .offer-container .offer .price-container .offer-icon {
          font-size: 5rem;
          color: #c7e44d;
          margin-right: 20px; }
        .main .offer-container .offer .price-container .offer-price {
          display: flex;
          flex-direction: column; }
          .main .offer-container .offer .price-container .offer-price .current-price {
            font-size: 3rem;
            padding: 0; }
          .main .offer-container .offer .price-container .offer-price .discount {
            font-size: 1.2rem;
            text-decoration: line-through;
            padding: 0; }

.modal-container {
  flex-basis: 50%; }
  .modal-container .modal {
    background: rgba(240, 240, 240, 0.9);
    display: flex;
    flex-direction: column;
    padding: 25px; }
    .modal-container .modal .caption {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      border-bottom: 1px solid #c8c8c8;
      padding-bottom: 25px; }
    .modal-container .modal .body {
      padding-top: 25px; }
      .modal-container .modal .body p:first-child {
        padding-top: 0;
        margin-top: 0; }

.close {
  color: #31353a; }
  .close:hover {
    text-decoration: none;
    cursor: pointer;
    color: #31353a; }

/* Small devices (tablets, up to 768px) */
@media screen and (max-width: 768px) {
  .layout .container {
    background-image: none;
    flex-direction: column; }
  .main {
    margin: 0;
    width: 100%; }
    .main .header-container {
      margin-bottom: 0; }
      .main .header-container .header {
        width: 100%; }
        .main .header-container .header .logo {
          height: 60px;
          margin: 10px; }
    .main .offer-container .mobile-mood {
      width: 100%;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center; }
  .pivot {
    display: none; } }
