@font-face {
  font-family: "FiraSans";
  src: url("../fonts/firaSans-webf/FiraSans-Regular.eot?") format("eot"),
  url("../fonts/firaSans-webf/FiraSans-Regular.woff") format("woff"),
  url("../fonts/firaSans-webf/FiraSans-Regular.ttf") format("truetype");
}