$bg-layout: rgb(49, 53, 58);
$bg-white: rgb(240, 240, 240);
$content-margin: 40px;
$header-height: 80px;
$font-color: rgb(200, 200, 200);
$cta-color: rgb(249, 135, 50);
$color-dark: rgb(49, 53, 58);
$divider: rgb(200, 200, 200);