.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.simple-enter-active, .simple-leave-active {
  opacity: 1;
}

.simple-enter, .simple-leave-to {
  opacity: 0;
}
