@import "variables";
@import "fonts";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "vue.transitions";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $bg-layout;
  font-family: FiraSans, sans-serif;
  font-size: 12px;
}

.layout {;
  max-width: 1378px;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  .container {
    min-height: 100%;
    background-image: url("../img/mood.jpg");
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
  }

  .footer {
    height: 50px;
    margin-top: -50px;
    background: $bg-layout;
    color: $font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
}

.pivot {
  width: 30%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: $content-margin 0 20px $content-margin;
  flex-basis: 50%;

  .header-container {
    margin-bottom: $content-margin * 0.75;

    .header {
      background: rgb(227, 228, 228);
      height: $header-height;
      display: inline-flex;
      justify-content: center;
      align-items: start;

      .logo {
        height: $header-height - 20px;
        margin: 10px;
      }
    }
  }

  .offer-container {
    display: flex;
    flex-direction: column;

    .mobile-mood {
      display: none;
    }

    .cta {
      font-size: 1.8rem;
      color: white;
      background-color: $cta-color;
      border: none;
      padding: 10px;
      transition: all .1s ease-in-out;
      text-align: center;
      text-decoration: none;

      &:hover {
        transform: scale(1.025);
        cursor: pointer;
      }
    }

    .caption {
      background-color: rgb(49, 53, 58);
      padding: 15px;

      h1 {
        font-size: 1.8rem;
        color: white;
        margin: 0;
        padding: 0;
      }
    }

    .offer {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: $bg-white;

      .attributes {
        padding-left: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid $divider;

        li {
          color: rgb(104, 111, 118);
          display: block;
          font-size: 1.2rem;
          margin-bottom: 10px;

          &:before {
            content: "\e013";
            font-family: 'Glyphicons Halflings';
            float: left;;
            margin-left: -20px;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      .price-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .offer-icon {
          font-size: 5rem;
          color: rgb(199, 228, 77);
          margin-right: 20px;
        }

        .offer-price {
          display: flex;
          flex-direction: column;

          .current-price {
            font-size: 3rem;
            padding: 0;
          }

          .discount {
            font-size: 1.2rem;
            text-decoration: line-through;
            padding: 0;
          }
        }
      }
    }
  }
}

.modal-container {
  flex-basis: 50%;

  .modal {
    background: rgba($bg-white, 0.9);
    display: flex;
    flex-direction: column;
    padding: 25px;

    .caption {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      border-bottom: 1px solid $divider;
      padding-bottom: 25px;
    }

    .body {
      padding-top: 25px;

      p {
        &:first-child {
          padding-top: 0;
          margin-top: 0;
        }
      }
    }
  }
}

.close {
  color: $color-dark;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $color-dark;
  }
}

/* Small devices (tablets, up to 768px) */
@media screen and (max-width: 768px) {
  .layout {
    .container {
      background-image: none;
      flex-direction: column;
    }
  }

  .main {
    margin: 0;
    width: 100%;

    .header-container {
      margin-bottom: 0;

      .header {
        width: 100%;

        .logo {
          height: $header-height - 20px;
          margin: 10px;
        }
      }
    }

    .offer-container {
      .mobile-mood {
        width: 100%;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
      }
    }
  }

  .pivot {
    display: none;
  }
}