@import "~bootstrap/scss/bootstrap";
@import "font-awesome/font-awesome";
@import "vue.transitions";

.widget {
  width: 300px;
  border: solid 1px #4e555b;
  padding: 5px;
}

.hh-widget {
  .list-container {
    width: 80%;
    overflow: hidden;
    position: relative;

    .layer {
      position: relative;
      transition: all 0.5s ease-in;
    }
  }

  .navigation-container {
    width: 20%;
  }

  .scroll-arrow {
    visibility: hidden;
    float: right;
    height: 50px;
    width: 30px;
    background: #a7b2b9;
    color: ghostwhite;
    border-radius: 2px;

    &:hover {
      text-decoration: none;
    }

    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    .scroll-arrow {
      visibility: visible;
    }
  }

  .hh-entry {
    padding: 5px;
    margin-bottom: 10px;
    height: 64px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .hh-info {
    margin-left: 10px;
  }

  .hh-name {
    font-size: 12px;
  }

  .hh-company {
    font-size: 10px;
  }

  .hh-date {
    font-size: 10px;
  }
}