<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="axmit">
    <link rel="stylesheet" href="/css/hh.css">

    <title>
        Headhunter auf Ihrem Profil
    </title>
</head>

<body>
<div id="app">
    <div class="d-flex flex-column widget hh-widget">
        <div class="header font-weight-bold">Headhunter auf Ihrem Profil</div>
        <small>Lorem ipsum dolor sit amet</small>
        <hr>
        <scrollable-list inline-template v-bind:step="74">
            <div class="d-flex">
                <div class="list-container">
                    <div class="layer" v-bind:style="{height: height + 'px', top: top + 'px'}">
                        <div v-for="item in list()" class="d-flex hh-entry">
                            <div class="hh-image">
                                <img v-bind:src="item.image" width="64" height="64">
                            </div>
                            <div class="hh-info d-flex flex-column">
                                <div v-text="item.name" class="hh-name"></div>
                                <small v-text="item.company" class="hh-company"></small>
                                <small v-text="item.date" class="hh-date"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigation-container d-flex flex-column justify-content-center align-items-end">
                    <a href
                       class="scroll-arrow d-flex justify-content-center align-items-center"
                       v-on:click.prevent="prev()"
                    >
                        <span class="fa fa-caret-up"></span>
                    </a>
                    <a href
                       class="scroll-arrow d-flex justify-content-center align-items-center"
                       v-on:click.prevent="next()"
                    >
                        <span class="fa fa-caret-down"></span>
                    </a>
                </div>
            </div>
        </scrollable-list>
    </div>
</div>
<script src="/js/vendor.js"></script>
<script src="/js/core.js"></script>
<script src="/js/hh.js"></script>
</body>
</html>
